{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- client section start -->
    <div class="layout_padding clients_section">
      <div class="container">
        <div id="client_slide" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#client_slide" data-slide-to="0" class="active"></li>
    <li data-target="#client_slide" data-slide-to="1"></li>
    <li data-target="#client_slide" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">

          <div class="col-sm-12">
            <h1 class="promoted_text">CLIENTS <span style="border-bottom: 5px solid #4bc714;">REVIEW</span></h1>
            {% for client in clients %}
            <div class="client_img"><img src="{{ client.image.url }}" width="300"></div>
            <h1 class="client_text">{{ client.name }}</h1>
            <p class="adiser_text">{{ client.create_at }}</p>
            <p class="long_text">{{ client.review }}</p>
            {% endfor %}
          </div>

        </div>
    </div>

    </div>
    </div>
    </div>
    </div>
  <!-- client section end -->
	{% endblock %}