{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- client section start -->
    <div class="layout_padding clients_section">
      <div class="container">
        <div id="client_slide" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#client_slide" data-slide-to="0" class="active"></li>
    <li data-target="#client_slide" data-slide-to="1"></li>
    <li data-target="#client_slide" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
          <div class="col-sm-12">
            <h1 class="promoted_text">CLIENTS <span style="border-bottom: 5px solid #4bc714;">REVIEW</span></h1>
            <div class="client_img"><img src="{% static 'images/client-img.png' %}"></div>
            <h1 class="client_text">JHON DUE</h1>
            <p class="adiser_text">(adiser)</p>
            <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="row">
          <div class="col-sm-12">
            <h1 class="promoted_text">CLIENTS <span style="border-bottom: 5px solid #4bc714;">REVIEW</span></h1>
            <div class="client_img"><img src="{% static 'images/client-img.png' %}"></div>
            <h1 class="client_text">JHON DUE</h1>
            <p class="adiser_text">(adiser)</p>
            <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="row">
          <div class="col-sm-12">
            <h1 class="promoted_text">CLIENTS <span style="border-bottom: 5px solid #4bc714;">REVIEW</span></h1>
            <div class="client_img"><img src="{% static 'images/client-img.png' %}"></div>
            <h1 class="client_text">JHON DUE</h1>
            <p class="adiser_text">(adiser)</p>
            <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
          </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>
  <!-- client section end -->
	{% endblock %}