{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="row">


            {% include 'inc/contact_form.html' %}


            <div class="col-md-6">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                            width="600" height="750" frameborder="0" style="border:0; width: 100%;"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->
{% endblock %}